@import "tailwindcss";

@theme {
  --color-primary: #1d2745;
  --color-secondary: #f64fa9;
  --color-error: #e3342f;
  --color-white: #ffffff;
  --color-mono100: #f1f1f1;
  --color-mono200: #bebebe;
  --color-mono300: #d6d7d9;
  --font-xs: 12px;
  --line-xs: 18px;
  --font-sm: 14px;
  --line-sm: 21px;
  --font-base: 16px;
  --line-base: 24px;
  --font-xl: 24px;
  --line-xl: 36px;
  --font-bold: 700;
  --font-regular: 400;
}


body {
  font-family: "Noto Sans KR";
}
